.lineColor {
  width: 2rem;
  height: 2rem;
  padding: 0;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.lineColor::-webkit-color-swatch-wrapper {
  width: 2rem;
  height: 2rem;
  padding: 0;
  border: none;
  border-radius: 4px;
}

.lineColor::-webkit-color-swatch {
  width: 2rem;
  height: 2rem;
  padding: 0;
  border: none;
  border-radius: 4px;
}
